<%- include('../partials/user/header.ejs') %>
<style>
    #preloder.hidden {
    display: none;
}
</style>
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="shop__option">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="shop__option__search">
                            <form id="shop-filter-form" action="/shop" method="get" >
                                <select name="categoryId" value="<%= categoryId %>" onchange="document.getElementById('shop-filter-form').submit()">
                                    <option value="">All Categories</option>
                                    <% category.forEach(cat => { %>
                                    <option value="<%=cat._id%>" <%= cat._id == categoryId ? 'selected' : '' %>><%= cat.name%></option>
                                    <%});%>
                                </select>
                                <input type="text" placeholder="Search" name="search" value="<%= search %>">
                                <button type="submit"><i class="fa fa-search"></i></button>
                                <input type="hidden" name="sort" id="sortInput">
                            </form>
                        </div>
                    </div>                         
                    <div class="col-lg-5 col-md-5">
                        <div class="shop__option__right">
                            <select id="sortDropdown" onchange="updateSortOption(this.value)">
                                <option value="">Default sorting</option>
                                <option value="asc" <%= sort === 'asc' ? 'selected' : '' %>>aA to zZ</option>
                                <option value="desc" <%= sort === 'desc' ? 'selected' : '' %>>zZ to aA</option>
                                <option value="highPrice" <%= sort === 'highPrice' ? 'selected' : '' %>>Price: high to low</option>
                                <option value="lowPrice" <%= sort === 'lowPrice' ? 'selected' : '' %>>Price: low to high</option>
                                <option value="latest" <%= sort === 'latest' ? 'selected' : '' %>>New arrivals</option>
                            </select>
                            <a href="#"><i class="fa fa-list"></i></a>
                            <a href="#"><i class="fa fa-reorder"></i></a>
                        </div>
                    </div>                       
                </div>
            </div>
            <div class="row prod">
                <% products.forEach(product => { %>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="<%= product.images[0].url %>">
                                <div class="product__label">
                                    <span><%= product.category.name %></span>
                                </div>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="/products/<%= product._id %>"><%= product.name %></a></h6>
                                <div class="product__item__price">Rs <%= product.salePrice.toFixed(2) %></div>
                                <div class="cart_add">
                                    <a href="/products/<%= product._id %>">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="shop__last__option">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="shop__pagination">
                        <% if (currentPage > 1) { %>
                          <a href="?search=<%= search %>&sort=<%= sort %>&categoryId=<%= categoryId %>&page=<%= currentPage - 1 %>">
                            <span class="arrow_carrot-left"></span>
                          </a>
                        <% } %>
                        <% for (let i = 1; i <= totalPages; i++) { %>
                          <a href="?search=<%= search %>&sort=<%= sort %>&categoryId=<%= categoryId %>&page=<%= i %>"
                            class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
                        <% } %>
                        <% if (currentPage < totalPages) { %>
                          <a href="?search=<%= search %>&sort=<%= sort %>&categoryId=<%= categoryId %>&page=<%= currentPage + 1 %>">
                            <span class="arrow_carrot-right"></span>
                          </a>
                        <% } %>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="shop__last__text">
                        <p>Showing <%= (currentPage - 1) * pageSize + 1 %>-<%= Math.min(currentPage * pageSize, totalProducts) %> of <%= totalProducts %> results</p>
                      </div>
                    </div>
                  </div>
                  
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
     <script>
        function updateSortOption(value) {
    document.getElementById('sortInput').value = value;
    document.getElementById('shop-filter-form').submit();
}
window.addEventListener('load', function () {
    document.getElementById('preloder').style.display = 'none';
});

$(document).ready(function () {
ajaxStop(function () {
        $('#preloder').hide();
    });
});


     </script>
    <script>
        $(document).ready(function () {
            function applyBackgroundImages() {
        $('.set-bg').each(function () {
            const bg = $(this).data('setbg');
            $(this).css('background-image', `url(${bg})`);
        });
    }

    // Initial call to set background images
    applyBackgroundImages();
            $('#sortDropdown').on('change', function () {
                console.log('Dropdown change detected.');
                const sortOption = $(this).val();
                console.log('Selected sort option:', sortOption);
                
                const queryParams = new URLSearchParams({
                    sort: sortOption,
                    categoryId: '<%= categoryId %>',
                    search: '<%= search %>' 
                });
                console.log(`/shop?${queryParams.toString()}`);
                // Send the fetch request to the backend
                fetch(`/shop?${queryParams.toString()}`, {
                    method: 'GET',
                    headers: {
        'Accept': 'application/json',
        'X-Requested-With': 'XMLHttpRequest' // Custom header to mark AJAX request
    },
                })
                .then(response => {
    if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
    }
    return response.json();
})
.then(data => {
        const productsContainer = $('.prod');
        
        // CLEARING existing products
        productsContainer.empty();
        console.log(data.products);

       data.products.forEach(product => {    
        const image = product.images[0].url ;
        console.log(image);
                       
            const productHTML = `
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="${image}">
                                    <div class="product__label">
                                        <span>${product.category.name}</span>
                                    </div>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="/products/${product._id}">${product.name}</a></h6>
                                    <div class="product__item__price">Rs ${product.salePrice.toFixed(2)}</div>
                                    <div class="cart_add">
                                        <a href="/products/${product._id}">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
            `;
            // Append the new product HTML to the container
            productsContainer.append(productHTML);
        });
        applyBackgroundImages();

    })
                .catch(error => {
                    console.error('Error with fetch:', error);
                });
            });
        });
    </script>
    
    
    <%- include('../partials/user/footer.ejs') %>
